<ion-view>
    <ion-nav-title>{{ title }}</ion-nav-title>
    <ion-content>

      <form ng-submit="saveGrade(grade, str.comment)" name="itemGrade" ng-if="submission.attachments.length > 0">
          <div class="item item-text-wrap">
            <span class="input-label">{{ 'mma.mod_assign.grade' | translate }}</span>
            <input style="width:100%" type="text"
                placeholder="..." pattern="[0-9]+([\.,][0-9]+)?" ng-model="grade">
          </div>
          <div class="item item-text-wrap" ng-if="isPluginAvailable">
            <span class="input-label">{{ 'mma.mod_assign.comment' | translate }}</span>
            <textarea ng-model="str.comment" style="width:100%" rows="10" placeholder="..." >
            </textarea>
          </div>
        <div class="card" ng-repeat="attachment in submission.attachments">
            <div>
              <div class="item item-divider"></div>
              <mm-gradefile file="attachment" component="{{component}}" component-id="{{submission.id}}"></mm-gradefile>
              <div class="item">
                <div class="item-note">{{submission.status}}</div>
                <p>{{ submission.timemodified * 1000 | mmFormatDate:"dfmediumdate" }}</p>
              </div>
            </div>
        </div>
        <button type="submit" class="button button-full icon-right ion-paper-airplane button-calm"
          ng-disabled="!grade || send || grade > 100"
          ng-click="showAlert('Grade', 'The grade\'s submission has been successfully save. Don\'t forget to synchronise with the server !')">
          {{ 'mma.mod_assign.send' | translate }}
        </button>
      </form>
      <p ng-if="submission.attachments.length == 0 || submission.attachments.length == null">{{ 'mma.mod_assign.noSub' | translate }}</p>
    </ion-content>
</ion-view>
