<ion-view view-title="{{ 'mma.mod_assign.submissions' | translate }}">
    <mm-split-view load-when="submissionsLoaded" >
          <ion-content>
            <!-- ion-refresher needs to be direct child of ion-content to work with native scrolling -->
           <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="submissionsLoaded" on-refresh ="refreshSubmissions()">
            </ion-refresher>
            <mm-loading hide-until="submissionsLoaded">
                <div class="text-center" ng-if="submissions && submissions.length > 0 || !noSubmission">
                  <a ng-disabled="dlDisable" class="button button-icon icon ion-archive" ng-click="downloadAll('Download Files', 'All the files have been downloaded')"></a>
                  <a ng-disabled="syncDisable === 0" class="button button-icon icon ion-loop" ng-click="addGrade('Synchronisation', 'All the grades and files have been uploaded')"></a>
                </div>
                <p ng-if="submissions && submissions.length == 0 || noSubmission" class="padding">{{ 'mma.mod_assign.noContent' | translate }}</p>
                <ul class="list" ng-if="submissions && submissions.length > 0">
                    <li ng-repeat="sub in submissions">

                        <a ng-if="isTablet" class="item item-avatar item-icon-right"
                           mm-split-view-link="site.mod_assign-grading({userid: sub.userid})"
                           title="{{sub.userfullname}}">
                            <img ng-src="{{sub.userprofileimageurl}}" alt="">
                            <mm-format-text>{{sub.userfullname}}</mm-format-text>
                            <i ng-if="sub.attachments.length > 0" class="icon ion-document"></i>
                            <i ng-if="sub.graded" class="icon ion-android-done"></i>
                        </a>
                        <a ng-if="!isTablet" class="item item-avatar item-icon-right"
                           mm-split-view-link="site.mod_assign-grading({submissions: submissions, courseid: courseid, assignid: assignid, userid: sub.userid})"
                           title="{{sub.userfullname}}">
                            <img ng-src="{{sub.userprofileimageurl}}" alt="">
                            <mm-format-text>{{sub.userfullname}}</mm-format-text>
                            <i ng-if="sub.attachments.length > 0" class="icon ion-document"></i>
                        </a>
                    </li>
                </ul>
            </mm-loading>
    </mm-split-view>
</ion-view>
