<ion-view>
  <ion-content>
    <!-- ion-refresher needs to be direct child of ion-content to work with native scrolling -->
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="gradesLoaded && gradesTable" on-refresh="refreshGrades()">
        </ion-refresher>
        <mm-loading hide-until="gradesLoaded">


            <div ng-if="gradesTable" class="card">
                <table cellspacing="0" cellpadding="0" class="mma-grades-table">
                    <thead>
                        <th ng-repeat="column in gradesTable.columns track by $index" id="{{column.id}}" class="header" colspan="{{column.width}}">
                            {{column.name | translate}}
                        </th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="myrow in gradesTable.rows track by $index" ng-bind-html="myrow"></tr>
                    </tbody>
                </table>
            </div>
            <div ng-if="!gradesTable" class="padding">
                <p>{{errormessage}}</p>
            </div>

            <div ng-show="!capabilities" class="item item-body" ng-repeat="a in assign">
                <a ui-sref="site.grades-grading({submission: a.submission.submissions[key], userid: a.submission.submissions[key].userid, assign: a.id, courseid: courseid})" class="button button-block button-calm">
                  {{a.name}} - <span ng-if="a.submission.submissions[key].attachments.length == 0 || a.submission.submissions[key].attachments.length == null">Non rendu</span>
                               <span ng-if="a.submission.submissions[key].attachments.length == 1">{{a.submission.submissions[key].attachments.length}} fichier joint</span>
                               <span ng-if="a.submission.submissions[key].attachments.length > 1">{{a.submission.submissions[key].attachments.length}} fichiers joints</span>
                </a>
            </div>

        </mm-loading>
    </ion-content>
</ion-view>
