<a class="item item-text-wrap item-button-right item-media" ng-click="download($event, true)">
    <img ng-src="{{fileicon}}" alt="" role="presentation" />
    <p>{{filename}}</p>
    <button ng-if="isDownloaded" ng-click="downloadOriginals($event)" class="button button-icon" style="margin-right:80px;" aria-label="{{ 'mm.core.download' | translate }}">
        <i class="icon ion-document-text"></i>
    </button>
    <button ng-if="isDownloaded" ng-disabled="!isOriginalDownloaded" ng-click="setOriginal($event)" class="button button-icon" style="margin-right:40px;" aria-label="{{ 'mm.core.download' | translate }}">
        <i class="icon ion-arrow-return-right"></i>
    </button>
    <button class="button button-icon" ng-click="download($event)" ng-if="!isDownloading && showDownload" aria-label="{{ 'mm.core.download' | translate }}">
        <i class="icon" ng-class="isDownloaded ? 'ion-android-refresh' : 'ion-ios-cloud-download-outline'"></i>
    </button>
    <button class="button button-icon" ng-show="isDownloaded">
        <i class="icon ion-edit"></i>
    </button>
    <ion-spinner class="spinner-right" ng-if="isDownloading"></ion-spinner>
</a>
